alias ..="cd .."
alias ...="cd ../.."

alias h='cd ~'
alias c='clear'

alias gi='ansible-galaxy install -r roles/requirements.yml'
alias gif='ansible-galaxy install -r roles/requirements.yml --force'

function clear_facts()
{
    ansible all -m meta -a "clear_facts"
}

function playbook() {
    ansible-playbook "$@"
}

function docker_gpkg_login()
{
    if [[ -z $GITHUB_TOKEN ]] ; then
        echo "Environment variable GITHUB_TOKEN must be set!"
    else
        echo $GITHUB_TOKEN | docker login docker.pkg.github.com -u $GITHUB_USER --password-stdin
    fi;
}

function docker_hub_login()
{
    if [[ -z $DOCKERHUB_TOKEN ]] ; then
        echo "Environment variable DOCKERHUB_TOKEN must be set!"
    else
        echo $DOCKERHUB_TOKEN | docker login registry-1.docker.io -u $DOCKERHUB_USER --password-stdin
    fi;
}
