---
### VM settings:
ip: "192.168.10.20"
memory: 4096
cpus: 2
provider: virtualbox
hostname: "rg-devops-box"

# Uncomment to customize your box version (Ubuntu and Debian available). Latest by default.
# Checkout https://app.vagrantup.com/rgsystems for details
# version: "1.0.0"

dns:
  - ip: 192.168.1.200
    domain: beta-supervision.com

# Uncomment to create a bridged connection available from other clients on the LAN
# Network Adapter label can be found on VirtualBox > VM > Network settings
# networks:
#     - type: "public_network"
#       bridge: "Intel(R) Ethernet Connection (2) I219-LM"

### SSH keys location:
authorize: ~/.ssh/id_rsa.pub
keys:
  - ~/.ssh/id_rsa

### Shared folders configuration:
folders:
  - map: /path/to/project # host
    to: /home/vagrant/project # guest (VM)

### Environment variables:
variables:
  - key: foo
    value: bar

### Features:
features:
  - aws-cli: false
  - ansible: false
  - docker: false
  - packer: false
  - terraform: false
  - awx: false
