---
### VM settings:
ip: "192.168.10.20"
memory: 4096
cpus: 2
provider: virtualbox
hostname: "devops-box"

# Specify an older build/version from app.vagrantup.com
# version: "201912.13.0"

# Custom DNS settings
# dns:
# - ip: 192.168.1.2
#   domain: mydomain.com

# Uncomment to create a bridged connection available from other clients on the LAN
# Network Adapter label can be found on VirtualBox > VM > Network settings
# networks:
#     - type: "public_network"
#       bridge: "Intel(R) Ethernet Connection (2) I219-LM"

### SSH keys location:
authorize: ~/.ssh/id_rsa.pub
keys:
  - ~/.ssh/id_rsa

### Shared folders configuration:
folders:
  - map: /path/to/project
    to: /home/vagrant/project
    options: 
      owner: vagrant
      group: vagrant
      mount_options: ["dmode=0770,fmode=774"]

### Environment variables:
variables:
  - key: foo
    value: bar

### Features:
features:
  - aws-cli: false
  - ansible: false
  - docker: false
  - packer: false
  - terraform: false
  - awx: false
