# {{ ansible_managed }}
# Created at {{ ansible_date_time.date }} - {{ ansible_date_time.time }}
# Nginx vhost configuration with production settings for rgsupv-dashboard

server {
    listen 80 default_server;
    server_name {{ nginx_name | default('dashboard.rg-supervision.com') }};

    # LetsEncrypt management
    location /.well-known/ {
        proxy_pass http://{{ nginx_well_known_ip | default('192.168.200.30') }}/.well-known/ ;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen 443 http2 ssl default_server;
    server_name {{ nginx_name | default('dashboard.rg-supervision.com') }};
    root {{ nginx_root | default('/opt/rgsupv-dashboard/current/web/') }};
   
    # Dashboard
    location / {
        try_files $uri /app.php$is_args$args;

        # DEPRECATED
        # Url utilisée par le trailing icon de l'anciennes version de l'agent RG 
        if ($args ~* "^idagent\=([^\&]+)\&password=([^\&]+)\&username=(.+)?$"){
            rewrite ^/support.php$ /support/$arg_idagent/$arg_password?localUserName=$arg_username? redirect;
        }

        rewrite ^/login.php /login?shape=tiny redirect;
        rewrite (?i)^/login/branded/([0-9]+)/(.+) /login?brandingId=$1&brandingHash=$2 redirect;

        location ~ ^/app\.php(/|$) {
            fastcgi_pass unix:/var/run/php/php{{ php_default_version_debian }}-fpm.sock; # defined in group_vars
            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            fastcgi_buffer_size 16k;
            fastcgi_buffers 4 16k;
            include fastcgi_params;
            fastcgi_param HTTPS on;

            # When you are using symlinks to link the document root to the
            # current version of your application, you should pass the real
            # application path instead of the path to the symlink to PHP
            # FPM.
            # Otherwise, PHP's OPcache may not properly detect changes to
            # your PHP files (see https://github.com/zendtech/ZendOptimizerPlus/issues/126
            # for more information).
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_param DOCUMENT_ROOT $realpath_root;
            # Prevents URIs that include the front controller. This will 404:
            # http://domain.tld/app.php/some-path
            # Remove the internal directive to allow URIs like this
            internal;
        }
    }

    # Downloads
    location /download/ {
        root /mnt/gluster;
    }

    # Themes
    location /rg-themes/ {
        root /mnt/gluster/branding/rgsupv-brandings;
        location ~ \.php(/|$) {
            fastcgi_pass unix:/var/run/php/php{{ php_default_version_debian }}-fpm.sock; # defined in group_vars
            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            fastcgi_param HTTPS on;
        }
    }

    location ~/\.htaccess {
        deny all;
    }

    # SSL
    ssl_certificate /mnt/gluster/ssl/dashboard.rg-supervision.com/fullchain.pem;
    ssl_certificate_key /mnt/gluster/ssl/dashboard.rg-supervision.com/privkey.pem;

    # OCSP
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /mnt/gluster/ssl/dashboard.rg-supervision.com/chain.pem;

    # Gzip
    location ~/\.(?:gif|jpe?g|png)$ {
        gzip off;
        gzip_vary off;
    }

    location ~/\.(?:exe|t?gz|zip|bz2|sit|rar)$ {
        gzip off;
        gzip_vary off;
    }

    location ~/\.(?:pdf|avi|mov|mp3|mp4|rm)$ {
        gzip off;
        gzip_vary off;
    }

    # Logs
    error_log /var/log/nginx/dashboard-ssl-error.log;
    access_log /var/log/nginx/dashboard-ssl-access.log timed_combined;
}
