---
- name: APT | install system dependencies
  apt:
    package: "{{ system_pkgs }}"
    state: present

- name: APT | download Cassandra C++ drivers
  get_url: 
    url: "{{ item }}"
    dest: "/tmp"
  with_items: "{{ cassandra_urls }}"

# updating libssl is required prior to install cassandra cpp drivers on Debian stretch 
- include_tasks: libssl.yml
  when:
    - ansible_facts['distribution'] is match("Debian")
    - ansible_facts['distribution_release'] is match("stretch")

- name: APT | install Cassandra C++ drivers
  apt:
    deb: "/tmp/{{ item }}"
  loop: "{{ cassandra_pkgs }}"

- name: PHP | install php packages and configure php.ini and opcache settings
  import_role:
    name: geerlingguy.php

- name: PHP | configure freetds driver for pdo_dblib
  template: 
    src: freetds.ini.j2
    dest: /etc/freetds/freetds.conf
    owner: root
    group: root
    mode: 0644
  
- name: PECL | update channel
  command: "pecl channel-update pecl.php.net"

- name: PECL | install and enable propro, raph, http, oauth via script
  script: "files/scripts/php-http.sh"
  register: http_result
  changed_when: "'successfully installed pecl_http' in http_result.stdout"

- name: PECL | install and enable librdkafka c++ driver and php rdkafka via script
  script: "files/scripts/php-rdkafka.sh {{ librdkafka_version }}"
  register: rdkafka_result
  changed_when: "'successfully installed rdkafka' in http_result.stdout"

- name: PECL | install extensions
  shell: "yes '' | pecl install {{ item }}"
  register: pecl_result
  changed_when: pecl_result is succeeded
  failed_when: "not (('already installed' in pecl_result.stdout) or ('install ok:' in pecl_result.stdout))"
  with_items:
    - apcu
    - apcu_bc
    - xdebug
    - oauth
    - cassandra

- name: PECL | copy extensions .ini files
  template: 
    src: extension.ini.j2
    dest: /etc/php/{{ php_default_version_debian }}/mods-available/{{ item }}.ini
    owner: root
    group: root
    mode: 0644
  with_items:
    - oauth
    - cassandra

- name: PECL | override default configuration for xdebug
  template: 
    src: xdebug.ini.j2
    dest: /etc/php/{{ php_default_version_debian }}/mods-available/xdebug.ini
    owner: root
    group: root
    mode: 0644

- name: PECL | override default configuration for apc
  template: 
    src: apcu.ini.j2
    dest: /etc/php/{{ php_default_version_debian }}/mods-available/apcu.ini
    owner: root
    group: root
    mode: 0644

# - name: PHP | removes apache2 directory if exists
#   file:
#     path: /etc/php/7.0/apache2/
#     state: absent

# - name: PHP | removes apache2 from sapi
#   file:
#     path: usr/lib/php/7.0/sapi/apache2
#     state: absent

- name: PECL | enable extensions using phpenmod
  shell: phpenmod {{ item }}
  loop: 
    - apcu
    - xdebug
    - oauth
    - cassandra
  register: item
  changed_when: "item.stdout_lines == ''"
  failed_when: "item.stderr != ''"
