---
- hosts: all
  become: true
  gather_facts: true
  debugger: on_failed

  pre_tasks:
    - name: APT | update apt cache
      apt: 
        update_cache: yes 
        cache_valid_time: 86400
        force_apt_get: yes
      tags: [ 'packages' ]

    - name: APT | update all packages to the latest version
      apt:
        upgrade: dist
        force_apt_get: yes
      tags: [ 'packages' ]
      
    - name: APT | install aptitude
      apt:
        name: aptitude 
        force_apt_get: yes

  roles: 
    - common

- import_playbook: dns.yml
- import_playbook: php.yml
- import_playbook: composer.yml
- import_playbook: wkhtmltopdf.yml
- import_playbook: nodejs.yml
- import_playbook: nginx.yml
- import_playbook: glusterfs-client.yml
- import_playbook: filebeat.yml
