---
# Debian 9 'stretch' upgrade playbook 
# Example command : 
# ansible-playbook upgrade-debian.yml -v --extra-vars "hosts=api01,api02"

- hosts: 
    - "{{ hosts | default('test') }}"
  become: true

  vars_prompt:
    - name: user
      prompt: Enter the main username for this host
      default: api
      private: no

  tasks:

    # - name: Stop the agent from running
    #   shell: rgsupvctl stop

    - name: Ensure the provided username exists
      shell: "id -u {{ user }}" # exit code is 1 if not found

    - name: Comment every line in the user's cron file
      shell: 'sed -i "s/^\*/#&/g" /var/spool/cron/crontabs/{{user}}'

    - name: Ensure aptitude is present 
      apt:
        name: aptitude
        state: present
      failed_when:
        - ansible_facts['distribution'] is not match("Debian")
        - ansible_facts['distribution_release'] is not match("stretch") 

    - name: Remove Elastic apt key
      file:
        path: /etc/apt/sources.list.d/elastic-6.x.list
        state: absent

    - name: Datastax apt key
      file:
        path: /etc/apt/sources.list.d/datastax.list
        state: absent

    - name: Uninstall filebeat
      apt:
        name: filebeat
        state: absent
        purge: yes

    - name: Uninstall old libuv versions
      apt:
        name: libuv0*
        state: absent
        purge: yes
      ignore_errors: yes

    - name: Remove previously installed PECL extensions
      pear:
        name: "{{ item }}"
        state: absent
      with_items:
        - apcu 
        - apcu_bc
        - pecl_http
        - propro
        - raphf
        - rdkafka
        - xdebug 
      ignore_errors: yes

    - name: Uninstall & purge PHP
      apt:
        name: php-*
        state: absent
        purge: yes

    - name: Cleanup PHP previous configuration folders and extensions
      file:
        path: '{{ item }}'
        state: absent
      with_items:
        - /etc/php5/
        - /etc/php/7.0/
        - /usr/lib/php/

    - name: Delete composer
      file: 
        path: /usr/local/bin/composer
        state: absent

    - name: Create folder for nginx backup
      file:
        path: /tmp/nginx-sites
        state: directory

    - name: Backup nginx sites
      copy:
        remote_src: yes
        src: /etc/nginx/sites-available/
        dest: /tmp/nginx-sites/

    - name: Uninstall & purge Nginx
      apt:
        name: nginx* 
        state: absent
        purge: yes

    - name: Update Debian mirrors
      replace:
        path: /etc/apt/sources.list
        regexp: "stretch"
        replace: "buster"
        backup: yes

    - name: Update packages list
      apt: 
        update_cache: yes

    - name: Upgrade both packages and distribution
      apt: 
        upgrade: full

    - name: Check what the new version is
      shell: lsb_release -r | awk '{print $2}'
      changed_when: False
      register: new_release

    - name: Notify distribution version upgrade
      debug: msg="Debian has been upgraded from {{ ansible_lsb.release }} to {{ new_release.stdout }}"
      when: ansible_lsb.release != new_release.stdout

    - name: Verify update status
      shell: hostnamectl
      register: hostnamectl_output

    - debug: var="hostnamectl_output.stdout_lines"

    - name: Reboot the server and wait for it to come back up
      reboot:

    - name: Wait for the system to become reachable
      wait_for_connection:

    - name: Cleanup apt
      apt:
        autoremove: yes
