---  
- name: Upload parameters.yml
  template:
    src: "parameters.yml"
    dest: "{{ ansistrano_release_path.stdout }}/app/config/parameters.yml"

- name: Refresh permissions for all files
  file:
    path: /opt
    owner: web
    group: ansible
    mode: 0775
    recurse: true

- name: Create logs folder for symlinks
  file:
    path: "{{ release_logs_path }}"
    state: directory

- name: Install Composer dependencies
  composer:
    command: install
    arguments: --classmap-authoritative
    no_dev: yes
    optimize_autoloader: yes
    working_dir: "{{ ansistrano_release_path.stdout }}"
  become_user: web

- name: Install Node dependencies
  npm:
    production: true
    path: "{{ ansistrano_release_path.stdout }}"
  become_user: web

- name: Compile assets for production
  npm:
    name: run build -- --mode=production
    path: "{{ ansistrano_release_path.stdout }}"
  become_user: web

# - name: Compile assets for production (alternative)
#   shell: npm run build -- --mode=production
#   args:
#     chdir: "{{ ansistrano_release_path.stdout }}"
  
- name: Setup directory permissions for var/logs
  become: true
  file:
    path: "{{ release_logs_path }}"
    state: directory
    mode: 0777
    recurse: true